/*public*/

html {
    margin: 0;
    padding: 0;
}

header{
    background-color: white;
    height: 100px;
    width: 100%;
    position: fixed;
    display: inline-flex;
    z-index: 1000;
}

header > div{
    display: inline-flex;
}

@media(max-width:767px){
    #title-logo{
        margin-top: 25px;
        height: 50px;
        width: 150px;
    }
}

section {
    padding-top: 100px;
}

/*index.html*/
#back-img:before {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content:"";
    background: hsla(0, 0%, 0%, 0.5);/*adjust brightness here */  
}

#back-img {
    height: 100%;
    width: 100%;

    background-position: center;
    background-image: url("../index/mainImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: brightness(50%); */
    
    position: fixed;
    z-index: -1;
}

#txt {
    color: white;
    width: 800px;
    margin: auto;
    padding: 100px 10px;
    text-align: center; 
    font-size: 30px; 
}

#title-txt {
    padding-bottom: 500px;
}

#title-txt > p:nth-child(1){
    text-align: left;
}

#title-txt > p:nth-child(2){
    font-size: 60px; 
    font-weight: bolder;
}

#title-txt > p:nth-child(3){
    text-align: right;
}

#title-txt > p:nth-child(4){
    padding-top: 50px;
    font-size: 60px;
    font-weight: bolder;
}

#content-txt{
    font-weight: bolder;
    text-decoration: underline;
}

#content-txt > p{
    padding-bottom: 50px;
}

#content-txt > p > span{
    cursor: pointer;
}

#profile{
    padding-top: 40px;
    display: table;/* width: fit-content; */
    margin: auto;
}

.profile-img {
    position: relative;
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
}
    
.profile-img > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
}
/* 
.profile-img {
    text-align: center;
}

.profile-img > img{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%; 
} */

.profile-list{
    text-decoration: underline;
    font-weight: bolder;
}

.profile-content{
    padding-left: 100px;
}

@media(max-width:767px){
    #txt{
        width: 350px;
    }
}

/*list.html*/

#search {
    font-size: 18px;
    margin-top: 30px;
    margin-left: 30px;
}

#search-input {
    height: 50px;
    width: 40vw;

    border: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#search-btn {
    width: 80px;
    height: 50px;
    margin-left: -1px;

    background-color: mediumslateblue;
    color: white;
    border: none;
    border-radius: 0 3px 3px 0;
}

.bg-grey {
    background-color: #f6f6f6;
}

.container-fluid {
    padding: 60px 50px;
}

#portfolio > div a, 
#portfolio > div a:hover, 
#portfolio > div a:focus {
    color: black;
    text-decoration: none;
}

  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    margin-bottom: 70px;
    box-shadow: 5px 0px 10px rgba(0,0,0, .2);
  }
          
  .thumbnail .wrapper {
    position: relative;
    padding-top: 50%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .thumbnail .wrapper .centered  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(50%,50%);
    -ms-transform: translate(50%,50%);
    transform: translate(50%,50%);
  }
  
  .thumbnail .wrapper .centered img {
    /* position: absolute; top: 0; left: 0; */
    /* max-width: 100%; height: auto; */
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  
  .thumbnail .wrapper img.portrait {
    width: 100%;
    height: auto;
  }
  
  .thumbnail .wrapper img.landscape {
    width: auto;
    height: 100%;
  }

.thumbnail:hover {
    filter: brightness(70%);
}

.thumbnail p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

#top {
    cursor: pointer; 
    width: fit-content; 
    margin: auto;
}

@media(max-width:767px){
    #search-input {
        width: calc(100vw - 290px);
    }
    #search-input::-webkit-input-placeholder{
        color: white;
    }
    #search-input:-ms-input-placeholder {
        color: white;
    }
    #search-input:-mos-input-placeholder {
        color: white;        
    }
}

/*ex.html*/

#nav {
    margin-top: 30px; 
    margin-left: 80px;
}

#nav > h2 {
    margin-right: 30px;
}

#nav > h2:nth-child(odd) {
    color: black;
    cursor: pointer;
}

#nav > h2:nth-child(even) {
    color: mediumslateblue;
}

.container {
    background-color: white;
    margin-top: 50px;
    padding: 50px 100px;
}

.content{
    padding-bottom: 250px;
}

.item{
    height: 315px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
    height: auto;
    max-height: 100%;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: mediumslateblue;
}

.carousel-indicators li {
    border-color: mediumslateblue;
}

.carousel-indicators li.active {
    background-color: mediumslateblue;
}

@media(max-width:991px){
    #video > iframe {
        width: 100%;
    }
}

@media(max-width:767px){
    .item{
        height: 40vw;
    }
    .container{
        padding: 50px 25px;
    }
    #nav {
        margin-top: 35px; 
        margin-left: 20px;
    }
    #nav > h2 {
        font-size: 12px;
        margin-right: 10px;
    }
}
